In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd

In [2]:
#Sección formatos
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css'] #Plantillas de formatos
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
colors = {'background': '#00008B','text': '#F8F8FF'} #Diccionario de formatos
#Código de colores: https://www.webucator.com/article/python-color-constants-module/

In [3]:
#Sección Datos.
M1 = pd.read_csv("C:\\Users\\ricardo\\Desktop\\PantallasPython\\Ejemplo1_Tabla.csv",dtype='str',encoding = "ISO-8859-1")
M1["Capital Neto"] = M1["Capital Neto"].astype(float)
M1.head()

  Institucion  Capital Neto   Tipo
0        BBVA           4.0  Banco
1   Santander           2.0  Banco
2      Scotia           6.0  Banco
3     Banorte           8.0  Banco
4     Inbursa           7.0  Banco

In [4]:
#Sección Datos.
M2 = pd.read_csv("C:\\Users\\ricardo\\Desktop\\PantallasPython\\Ejemplo2_Serie.csv",dtype='str',encoding = "ISO-8859-1")
M2[M2.columns] = M2[M2.columns].astype(float)
M2.head()

      X       Y
0 -2.00  4.0000
1 -1.99  3.9601
2 -1.98  3.9204
3 -1.97  3.8809
4 -1.96  3.8416

In [5]:
#Sección Datos.
M3 = pd.read_csv("C:\\Users\\ricardo\\Desktop\\PantallasPython\\Ejemplo2_Tabla.csv",dtype='str',encoding = "ISO-8859-1")
M3["Capital Neto"] = M3["Capital Neto"].astype(float)
M3.head()

  Institucion  Capital Neto
0        BBVA           4.0
1   Santander           2.0
2      Scotia           6.0
3     Banorte           8.0
4     Inbursa           7.0

In [6]:
#Función para crear una tabla
def Fun_Genera_Tabla(M):
    return html.Table([\
        html.Thead(html.Tr([html.Th(col,style={'textAlign': 'center','color':'white'}) for col in M.columns])),\
        html.Tbody([html.Tr([html.Td(M.iloc[i][col],style={'textAlign': 'center','color':'white'}) for col in M.columns])for i in range(len(M))])\
    ])

In [7]:
#Sección Figuras
fig1 = px.bar(M1, x="Institucion", y="Capital Neto", color="Tipo", barmode="group")
fig1.update_layout(plot_bgcolor=colors['background'],paper_bgcolor=colors['background'],font_color=colors['text'])
fig2 = px.line(M2, x="X", y="Y")
#fig2.update_layout(plot_bgcolor=colors['background'],paper_bgcolor=colors['background'],font_color=colors['text'])
fig3 = px.pie(M3, values="Capital Neto", names="Institucion")
fig3.update_layout(plot_bgcolor=colors['background'],paper_bgcolor=colors['background'],font_color=colors['text'])
#Sección HTML
app.layout = html.Div(style={'backgroundColor': colors['background']},children=[\
    html.H1(children="Ejemplo gráficas",style={'textAlign': 'center','color': colors['text']}),\
    html.Div(children="Capital Neto (Miles de millones)",style={'textAlign': 'center','color': colors['text']}),\
    dcc.Graph(id='Grafica_1',figure=fig1),\
    Fun_Genera_Tabla(M1),\
    html.Div(children="Parábola",style={'textAlign': 'center','color': colors['text']}),\
    dcc.Graph(id='Grafica_2',figure=fig2),\
    html.Div(children="Gráfica de Pay",style={'textAlign': 'center','color': colors['text']}),\
    dcc.Graph(id='Grafica_3',figure=fig3)\
    ])

In [8]:
#Ejecución de programa
if __name__ == '__main__':
    #app.run_server(debug=True)
    app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on