In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [2]:
#1. Definición de DataFrame
n = 1000 #Número de simulaciones
col = ["Lanzamiento_1","Lanzamiento_2","Bandera"]
M = pd.DataFrame(index=range(n),columns=col)
M.head()

  Lanzamiento_1 Lanzamiento_2 Bandera
0           NaN           NaN     NaN
1           NaN           NaN     NaN
2           NaN           NaN     NaN
3           NaN           NaN     NaN
4           NaN           NaN     NaN

In [3]:
#2. Simulación de los lanzamientos de las monedas (sol=1, águila=0, badera=1 sin son diferentes e igual a cero si son iguales)
for i in M.iterrows():
    moneda1 = random.randint(0, 1)
    moneda2 = random.randint(0, 1)
    i[1][0] = moneda1
    i[1][1] = moneda2
    if moneda1 == moneda2:
        i[1][2] = 0
    else:
        i[1][2] = 1
M.head()

  Lanzamiento_1 Lanzamiento_2 Bandera
0             0             0       0
1             0             1       1
2             0             0       0
3             0             0       0
4             1             0       1

In [4]:
M.tail()

    Lanzamiento_1 Lanzamiento_2 Bandera
995             0             0       0
996             1             0       1
997             1             0       1
998             0             1       1
999             1             0       1

In [5]:
#3. Cálculo de la probabilidad
print("La probabilidad de obtener sol y águila es ",M["Bandera"].sum()/n)

La probabilidad de obtener sol y águila es  0.505